<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 text-center col-md-12 col-sm-12">
      <img src="educonecta-logo.png" alt="educonecta-logo">
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 pt-3">
      <div class="input-group">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" name="search" [(ngModel)]="filter.search" placeholder="BUSCAR POR TEXTO" aria-describedby="basic-addon1">
      <button class="btn btn-primary" (click)="getSchools()">
        Buscar
      </button>
    </div>
    </div>
    <div class="col-12 mt-4" *ngIf="!schoolSelected">
      <ul class="list-group">
        <li class="list-group-item hand" (click)="selectSchool(school)" *ngFor="let school of schools">
          <div class="row">
            <div class="col-lg-1 text-center col-md-12 col-sm-12">
              <img src="favicon.ico" *ngIf="!school.logo" alt="Colegio" width="80" height="80">
              <img [src]="school.logo" alt="{{school.name}}" *ngIf="school.logo" width="80" height="80">
            </div>
            <div class="col-lg-11 col-md-12 col-sm-12">
              <strong>{{school.name | titlecase}}</strong><br>
              <strong>Dirección: </strong>{{school.address | uppercase}} <br>
              <strong>Telefono: </strong>{{school.phone}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 mt-4" *ngIf="schoolSelected">
      <form #enrollmentForm="ngForm">
        <div class="row">
          <div class="col-12 mb-2 text-end">
            <button class="btn btn-light text-danger" (click)="resetSelect()">
              Cancelar Matricula
            </button>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="card mb-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-center">
                    <img src="favicon.ico" *ngIf="!schoolSelected.logo" alt="Colegio" width="200" height="200">
                <img [src]="schoolSelected.logo" alt="{{schoolSelected.name}}" *ngIf="schoolSelected.logo" width="200" height="200">
                  </div>
                  <div class="col-12 ps-5">
                    <small class="text-primary">Nombre de Institución</small><br>
                    <strong>{{schoolSelected.name | titlecase}}</strong><br>
                    <small class="text-primary">Dirección</small><br>
                    <span>{{schoolSelected.address | uppercase}}</span> <br>
                    <small class="text-primary">Telefono</small><br>
                    <span>{{schoolSelected.phone}}</span> <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12" *ngIf="schoolSelected.grades">
            <div class="card mb-2">
              <div class="card-body">
                <h2 *ngIf="!schoolSelected.grades.length" class="text-center">
                  <i class="fa fa-times fa-3x"></i> <br>
                  No existen vacantes en ningún grado.
                </h2>
                <ul class="list-group" *ngIf="schoolSelected.grades.length">
                  <caption>Grados en la Institución Educativa</caption>
                  <li class="list-group-item" [ngClass]="{'list-group-item-primary': gradeSelected && gradeSelected.id === g.id}" (click)="selectGrade(g)" *ngFor="let g of schoolSelected.grades">
                    {{g.grade_name | uppercase}}
                    <span class="badge bg-success ms-2">{{g.vacancies}} Vacantes</span>
                    <span class="badge bg-primary float-end" *ngIf="gradeSelected && gradeSelected.id === g.id">Seleccionado</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card" *ngIf="gradeSelected">
              <div class="card-header">
                Matriculando en {{gradeSelected.grade_name}}
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        Información del Estudiante
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <small>Número de Documento</small>
                              <input type="text" name="code" (keypress)="soloNumeros($event)" maxlength="8" [(ngModel)]="newEnrollment.code" class="form-control" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <small>Fecha de Nacimiento</small>
                            <input type="date" name="birth_date" [(ngModel)]="newEnrollment.birth_date" id="" class="form-control" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <small>A. Paterno</small>
                              <input type="text" name="father_last_name" [(ngModel)]="newEnrollment.father_last_name" class="form-control" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <small>A. Materno</small>
                              <input type="text" name="mother_last_name" [(ngModel)]="newEnrollment.mother_last_name" class="form-control" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <small>Nombres</small>
                              <input type="text" name="names" [(ngModel)]="newEnrollment.names" class="form-control" required>
                            </div>
                          </div>
                          <div class="col-12 pt-2">
                            <div class="row">
                              <div class="col-12 text-center">
                                Genero
                              </div>
                              <div class="col-6" *ngFor="let g of genders">
                                <div class="card" [ngClass]="{'bg-primary text-white': newEnrollment.gender === g.id}" (click)="selectGender(g.id)">
                                  <div class="card-body text-center">
                                    <img [src]="g.image" alt="" width="60" height="60"><br>
                                    <small>{{g.name}}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="card mb-2">
                      <div class="card-header">
                        Información de los Apoderados
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12" *ngIf="newEnrollment.parents">
                            <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let p of newEnrollment.parents; let p_i = index">
                                <div class="card mb-2">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-12">
                                        <small>DNI</small>
                                        <input type="text" maxlength="8" (keypress)="soloNumeros($event)" name="code-{{p_i}}" [(ngModel)]="p.code" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>A. Paterno</small>
                                        <input type="text" name="father_last_name-{{p_i}}" [(ngModel)]="p.father_last_name" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>A. Materno</small>
                                        <input type="text" name="mother_last_name-{{p_i}}" [(ngModel)]="p.mother_last_name" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>Nombres</small>
                                        <input type="text" name="names-{{p_i}}" [(ngModel)]="p.names" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>Parentesco</small>
                                        <select name="relation" [(ngModel)]="p.relation" class="form-select form-select-sm" required>
                                          <option [ngValue]="undefined">--SELECCIONE--</option>
                                          <option [ngValue]="'padre'">PADRE</option>
                                          <option [ngValue]="'madre'">MADRE</option>
                                        </select>
                                      </div>
                                      <div class="col-12 pt-2 text-center">
                                        <button class="btn btn-sm btn-danger" (click)="addParent(p)">
                                          Quitar apoderado
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2 text-center">
                            <button class="btn btn-outline-primary" (click)="addParent()">
                              Agregar Apoderado
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        Información documentaria
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12" *ngIf="newEnrollment.documents">
                            <ul class="list-group">
                              <li class="list-group-item" *ngFor="let d of newEnrollment.documents; let d_i = index">
                                <input type="file" accept=".pdf,.docx,.doc" (change)="onFileSelected($event, d)" name="file-{{d_i}}" id="document-{{d_i}}" class="form-control-sm" required>
                                <div class="row">
                                  <div class="col-12" *ngIf="d.info">
                                    <div class="row">
                                      <div class="col-lg-6 col-md-12 col-sm-12">
                                        <small class="text-primary">Tamaño del archivo</small> <br>
                                        <span>{{d.info.size / 1000}} Kb</span>
                                      </div>
                                      <div class="col-lg-6 col-md-12 col-sm-12">
                                        <small class="text-primary">Tipo del archivo</small> <br>
                                        <span>{{d.info.type}}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 text-end pt-2">
                                    <button class="btn btn-sm btn-danger" (click)="addDocument(d)">
                                      Quitar documento
                                    </button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-12 mt-2 text-center">
                            <button class="btn btn-outline-primary" (click)="addDocument()">
                              Agregar Documento
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 mb-5 text-center" *ngIf="newEnrollment">
            <button class="btn btn-lg btn-primary" [disabled]="enrollmentForm.invalid || !newEnrollment.parents || !newEnrollment.parents.length || !newEnrollment.documents || !newEnrollment.documents.length" (click)="saveEnrollment()">
              Matricular
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet />
