
                        Información de los Apoderados
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12" *ngIf="newEnrollment.parents">
                            <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let p of newEnrollment.parents; let p_i = index">
                                <div class="card mb-2">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-12">
                                        <small>DNI</small>
                                        <input type="text" maxlength="8" (keypress)="soloNumeros($event)" name="code-{{p_i}}" [(ngModel)]="p.code" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>A. Paterno</small>
                                        <input type="text" name="father_last_name-{{p_i}}" [(ngModel)]="p.father_last_name" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>A. Materno</small>
                                        <input type="text" name="mother_last_name-{{p_i}}" [(ngModel)]="p.mother_last_name" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>Nombres</small>
                                        <input type="text" name="names-{{p_i}}" [(ngModel)]="p.names" class="form-control form-control-sm" required>
                                      </div>
                                      <div class="col-12">
                                        <small>Parentesco</small>
                                        <select name="relation" [(ngModel)]="p.relation" class="form-select form-select-sm" required>
                                          <option [ngValue]="undefined">--SELECCIONE--</option>
                                          <option [ngValue]="'padre'">PADRE</option>
                                          <option [ngValue]="'madre'">MADRE</option>
                                        </select>
                                      </div>
                                      <div class="col-12 pt-2 text-center">
                                        <button class="btn btn-sm btn-danger" (click)="addParent(p)">
                                          Quitar apoderado
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2 text-center">
                            <button class="btn btn-outline-primary" (click)="addParent()">
                              Agregar Apoderado
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        Información documentaria
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12" *ngIf="newEnrollment.documents">
                            <ul class="list-group">
                              <li class="list-group-item" *ngFor="let d of newEnrollment.documents; let d_i = index">
                                <input type="file" accept=".pdf,.docx,.doc" (change)="onFileSelected($event, d)" name="file-{{d_i}}" id="document-{{d_i}}" class="form-control-sm" required>
                                <div class="row">
                                  <div class="col-12" *ngIf="d.info">
                                    <div class="row">
                                      <div class="col-lg-6 col-md-12 col-sm-12">
                                        <small class="text-primary">Tamaño del archivo</small> <br>
                                        <span>{{d.info.size / 1000}} Kb</span>
                                      </div>
                                      <div class="col-lg-6 col-md-12 col-sm-12">
                                        <small class="text-primary">Tipo del archivo</small> <br>
                                        <span>{{d.info.type}}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 text-end pt-2">
                                    <button class="btn btn-sm btn-danger" (click)="addDocument(d)">
                                      Quitar documento
                                    </button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-12 mt-2 text-center">
                            <button class="btn btn-outline-primary" (click)="addDocument()">
                              Agregar Documento
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 mb-5 text-center" *ngIf="newEnrollment">
            <button class="btn btn-lg btn-primary" [disabled]="enrollmentForm.invalid || !newEnrollment.parents || !newEnrollment.parents.length || !newEnrollment.documents || !newEnrollment.documents.length" (click)="saveEnrollment()">
              Matricular
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet />
